:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  background: rgb(255, 239, 215);
}

.app {
  display: flex;
  flex-direction: row;
  min-height: "100dvh";
  box-sizing: "border-box";
}

.app > * {
  padding-top: 1rem;
}
